<% payment_method = Spree::PaymentMethod.active.available_on_front_end.find_by_type("Spree::PaymentMethod::MercadoPago") %>
<% if payment_method %>
  <label class="d-block" for="<%= dom_id(payment_method) %>">
    <div class="card-lomi mb-3">
      <div class="d-flex justify-content-between align-items-center px-1">
        <div class="d-flex">
          <div class="icon-lomi boton-rounded mr-3 shadow2-lomi justify-content-center align-items-center" style="width: 41px; height: 41px;">
            <%= image_tag main_app.url_for(payment_method&.image&.url(:small) || 'icon.png'), class: 'w-100 d-block my-1 rounded-circle' %>
          </div>
          <div>
            <p class="titulo-l-semibold color-dark-blue-lomi mb-1"><%= payment_method.name %></strong></label>
            <p class="mb-0 texto-s color-grey-lomi"><%= payment_method.description %></p>
          </div>
        </div>
        <input type="radio"
              id="<%= dom_id(payment_method) %>"
              name="method"
              data-action='checkout#selectPaymentMethod'
              value="<%= payment_method.id %>"
              data-type="<%= payment_method.type %>"
              data-title="<%= payment_method.name %>"
              data-description="<%= payment_method.description %>"
              data-icon="<%= main_app.url_for(payment_method&.image&.url(:small) || 'icon.png') %>">
      </div>
    </div>
  </label>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      $('input[name="method"]').on('change', function() {
        $('#checkout-mercado-pago').toggleClass('d-none', $(this).val() != <%= payment_method.id %>)
        $('button[type="submit"]').toggleClass('d-none', $(this).val() == <%= payment_method.id %>)
        $('#mercado-pago-button').toggleClass('d-none', $(this).val() != <%= payment_method.id %>)
      });

      const btnText = $('#mercado-pago-button').html()

      function disableMercadoPagoBtn() {
        $('#mercado-pago-button')
        $('#mercado-pago-button').prop('disabled', true)
        $('#mercado-pago-button').html("<i class='fa fa-spinner fa-spin'></i>")
      }

      function enableMercadoPagoBtn() {
        $('#mercado-pago-button').prop('disabled', false)
        $('#mercado-pago-button').html(btnText)
      }

      $('#mercado-pago-button').on('click', function() {
        $('.mp-error').toggleClass('d-none', false)
        disableMercadoPagoBtn()

        const formData = $('form').serializeArray();
        window.paymentBrickController.getFormData()
          .then(async (cardFormData) => {
            console.log('creating payment...', cardFormData);
            if(cardFormData.formData === null) {
              enableMercadoPagoBtn()
              // manejo de errores al llamar a getFormData()
              // console.error('cardFormData received error', error);
              $('.mp-error').toggleClass('d-none', true)
            } else {
              document.getElementById('order_mercadopago_transaction_amount').value = cardFormData.formData.transaction_amount
              document.getElementById('order_mercadopago_token').value = cardFormData.formData.token
              document.getElementById('order_mercadopago_installments').value = cardFormData.formData.installments
              document.getElementById('order_mercadopago_payment_method_id').value = cardFormData.formData.payment_method_id
              document.getElementById('order_mercadopago_payer_email').value = cardFormData.formData.payer.email
              if (cardFormData.formData.payer.type === "customer") {
                document.getElementById('order_mercadopago_payer_type').value = cardFormData.formData.payer.type
                document.getElementById('order_mercadopago_payer_id').value = cardFormData.formData.payer.id
              } else {
                document.getElementById('order_mercadopago_payer_identification_type').value = cardFormData.formData.payer.identification.type
                document.getElementById('order_mercadopago_payer_identification_number').value = cardFormData.formData.payer.identification.number
              }

              document.querySelector("form").submit()
            }
          })
          .catch((error) => {
            enableMercadoPagoBtn()
            // manejo de errores al llamar a getFormData()
            // console.error('cardFormData received error', error);
            $('.mp-error').toggleClass('d-none', true)
          });
      });
    });
  </script>
<% end %>
